{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur OffCampus{% endblock %}

{% block body %}
<main>
    <section id="hero">
        <div id="hero-background"></div>
        <div id="hero-box">
            <h1 class="fc-fg margin-bottom">Chaque semaine, de nouvelles activités pour réunir les étudiants !</h1>
            <h2 class="fc-cta">Rejoins-nous maintenant!</h2>
            <a href="#register" class="btn bg-cta fc-fg margin-top">M'inscrire</a>
        </div>
    </section>
    <section id="register" class="bg-fg main-padding">
        <h1 class="fc-cta">M'inscrire maintenant</h1>
        {% include 'includes/register.html.twig' %}
    </section>
</main>
{% endblock %}
