@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;800&family=Roboto:wght@200&display=swap');
:root {
    /********Colors*/
    --bg-color:#B6BABD;
    --fg-color: #fff;
    --dark-color: #1D252D;
    --cta-color: #FF8D00;
    --action-color: #919295;
    /********Shadows*/
    --far-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    --thumbnails-shadow: 2px 3px 5px rgba(0,0,0,0.2);
    --btn-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    /********Margins*/
    --fields-margin: 0.5em 0 0.5em 1em;
    --thumbnails-margin: 1vw;
    --basic-margin: 3vw;
    --small-margin: 2vw;
    --round-btn-margin: 2em;
    /********Paddings*/
    --before-header-pdg: 9em;
    --btn-pdg: 1em 1.5em;
    --fields-pdg: 7px;
    --header-pdg: 1.5em 2em;
    --card-pdg: 1em;
    --textbox-pdg: 0.5em 1em;
    --form-pdg: 2em;
    --modal-pdg: 3vw;
    --round-btn-pdg: 1em;
    /********Fontsizes*/
    --nav-fs: 1.3em;
    --body-fs: 1em;
    --mini-fs: .8em;
    /********Image sizes*/
    --round-btn-size: 4em;
    --ic-size: 2em;
}