<header class="bg-dark">
    <div id="logo">
        <svg
                width="208.37758"
                height="31.978565"
                viewBox="0 0 55.133229 8.4609953"
                version="1.1"
                id="svg-logo"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
            <path class="fill-cta"
                  id="path920"
                  d="M 58.691406 0 C 55.400364 0 52.443459 0.68388769 49.822266 2.0527344 C 47.201069 3.4215811 45.147452 5.3289439 43.662109 7.7753906 C 42.595887 9.5106183 41.91618 11.412938 41.615234 13.478516 L 56.8125 13.478516 L 56.8125 18.5 L 41.613281 18.5 C 41.913846 20.573209 42.595014 22.488521 43.662109 24.246094 C 45.147452 26.663419 47.201069 28.556938 49.822266 29.925781 C 52.443459 31.294628 55.400364 31.978516 58.691406 31.978516 C 61.982472 31.978516 64.937393 31.294628 67.558594 29.925781 C 70.179783 28.556938 72.233411 26.663419 73.71875 24.246094 C 75.204093 21.799647 75.947266 19.048296 75.947266 15.990234 C 75.947266 12.932177 75.204093 10.192709 73.71875 7.7753906 C 72.233411 5.3289401 70.179783 3.4215811 67.558594 2.0527344 C 64.937397 0.68388769 61.982472 -5.9211895e-16 58.691406 0 z "
                  transform="scale(0.26458332)" />
            <path class="fill-fg"
                  d="m 21.852228,8.460995 q -1.28302,0 -2.31175,-0.531704 Q 18.51175,7.386036 17.922254,6.426653 17.344317,5.45572 17.344317,4.230492 q 0,-1.225229 0.577937,-2.184598 Q 18.51175,1.074954 19.540478,0.543256 20.569208,0 21.852228,0 q 1.178994,0 2.103692,0.416115 0.924698,0.416101 1.525752,1.202107 l -1.722249,1.537309 q -0.751322,-0.947812 -1.76849,-0.947812 -0.855349,0 -1.37549,0.554819 -0.520145,0.543255 -0.520145,1.467954 0,0.924704 0.520145,1.479523 0.520141,0.543255 1.37549,0.543255 1.017168,0 1.76849,-0.947812 l 1.722249,1.537316 q -0.601054,0.785987 -1.525752,1.202101 -0.924698,0.41612 -2.103692,0.41612 z"
                  id="path922"
            />
            <path class="fill-fg"
                  d="M 29.892397,5.934653 H 27.904221 L 27.552927,6.84652 h -1.793841 l 2.287149,-5.232043 h 1.73405 L 32.067434,6.84652 H 30.243692 Z M 29.406566,4.664014 28.898312,3.348531 28.390057,4.664014 Z"
                  id="path1121"
            />
            <path class="fill-fg"
                  d="m 37.022924,6.84652 -0.01497,-2.384314 -1.136103,1.91343 H 35.09452 L 33.958417,4.54442 v 2.3021 H 32.351436 V 1.614477 h 1.450023 l 1.704149,2.787929 1.659305,-2.787929 h 1.450023 l 0.01497,5.232043 z"
                  id="path1123"
            />
            <path class="fill-fg"
                  d="m 42.000832,1.614477 q 0.72501,0 1.263158,0.239182 0.538155,0.239174 0.829655,0.687639 0.2915,0.448461 0.2915,1.046406 0,0.597944 -0.2915,1.046407 -0.2915,0.448461 -0.829655,0.687643 -0.538148,0.239175 -1.263158,0.239175 h -0.754915 v 1.28559 H 39.481971 V 1.614477 Z m -0.112116,2.586122 q 0.358764,0 0.538148,-0.156961 0.179384,-0.164433 0.179384,-0.455934 0,-0.291499 -0.179384,-0.448464 Q 42.24748,2.974807 41.888716,2.974807 h -0.642799 v 1.225792 z"
                  id="path1125"
            />
            <path class="fill-fg"
                  d="m 47.389815,6.966108 q -1.20337,0 -1.876063,-0.650264 Q 44.841059,5.665572 44.841059,4.492098 V 1.614477 h 1.763947 v 2.825305 q 0,0.575522 0.201807,0.837129 0.209282,0.261594 0.597949,0.261594 0.388667,0 0.59047,-0.261594 0.209285,-0.261607 0.209285,-0.837129 V 1.614477 h 1.734044 v 2.877621 q 0,1.173474 -0.672684,1.823746 -0.672693,0.650264 -1.876062,0.650264 z"
                  id="path1127"
            />
            <path class="fill-fg"
                  d="m 52.696591,6.966108 q -0.65027,0 -1.270647,-0.142012 -0.612896,-0.149488 -1.00903,-0.396143 l 0.568051,-1.285582 q 0.373712,0.21675 0.837122,0.351291 0.46341,0.127067 0.889451,0.127067 0.36624,0 0.523198,-0.06731 0.15697,-0.07474 0.15697,-0.216759 0,-0.164434 -0.209287,-0.246656 Q 52.980612,5.007794 52.509727,4.910627 51.90431,4.78356 51.500696,4.64155 51.097078,4.49206 50.798105,4.163194 50.499133,3.826845 50.499133,3.258797 q 0,-0.493309 0.27655,-0.896925 0.27655,-0.403616 0.822174,-0.635322 0.553101,-0.231701 1.33791,-0.231701 0.538158,0 1.053889,0.119589 0.523206,0.112112 0.91934,0.336345 L 54.378323,3.228895 Q 53.608464,2.84023 52.920816,2.84023 q -0.680164,0 -0.680164,0.328875 0,0.15696 0.201807,0.239174 0.201807,0.07474 0.665222,0.164434 0.597949,0.112116 1.009034,0.261606 0.41109,0.14201 0.710067,0.470885 0.306448,0.328866 0.306448,0.896916 0,0.493308 -0.27655,0.896924 -0.27655,0.396139 -0.829655,0.635322 -0.545629,0.231701 -1.330434,0.231701 z"
                  id="path1129"
            />
            <path class="fill-fg"
                  d="M 8.1324813,2.950495 V 3.846132 H 5.7032136 V 5.174661 H 8.1324813 V 6.846518 H 10.095862 V 1.621967 H 5.3621186 v 1.328528 z"
                  id="path17465" />
            <path class="fill-fg"
                  d="M 2.7703627,2.950495 V 3.846132 H 0.3410952 V 5.174661 H 2.7703627 V 6.846518 H 4.733743 V 1.621967 H 0 v 1.328528 z"
                  id="path17467" />
            <path class="fill-cta"
                  id="rect1024"
                  d="m 21.412994,3.5662328 h 4.068678 v 1.328529 h -4.068678 z" />
        </svg>
    </div>
    <nav>
        <ul class="fc-fg">
            <li><a href="">Accueil</a></li>
            <li class="btn bg-cta"><a href="#register">M'inscrire</a></li>
            <li class="btn bg-action"><a href="{{ path('app_login') }}">Connexion</a></li>
        </ul>
    </nav>
</header>