<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}OffCampus{% endblock %}</title>
        {% include 'includes/stylesheets.html.twig' %}
    </head>
    <body>
        {% include 'includes/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'includes/footer.html.twig' %}
    </body>
</html>
