{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}
{% block header %}{% include 'includes/header.html.twig' %}{% endblock %}
{% block body %}
    <main>
        <section class="bg-fg main-padding before-header">
            <h1 class="fc-cta margin-bottom">Modifier mon profil</h1>
            <img src="{{ asset('img/hero.jpg') }}" alt="Profile picture for {{ app.user.userName }}">
            <a href="{{ path('edit_profile_image') }}" class="btn bg-action fc-fg">Changer la photo</a>
            {% include 'includes/userForm.html.twig' %}
        </section>
    </main>
{% endblock %}
