{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}
{% block header %}{% include 'includes/header.html.twig' %}{% endblock %}
{% block body %}
    <main>
        <section id="register" class="bg-fg main-padding before-header">
            <h1 class="fc-cta margin-bottom">Modifier mon profil</h1>
            {% include 'includes/register.html.twig' %}
        </section>
    </main>
{% endblock %}
